<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breast Cancer Data</title>
    <link rel="stylesheet" href="{{ url_for('static' ,filename='Style.css')}}">
</head>
<body>
 <h1>Breast Cancer Data</h1>
<h2>Data info</h2>
{% for table in tables %}
            {{ table|safe }}
{% endfor %}

<h2>Nucleus features vs diagnosis</h2>
<img src = "/plot1" >


<h2>Correlation lower triangle</h2>
<img src="data:image/png;base64, {{ cor_plot_all }}">


<h3>Shapes of the data frame after sampling</h3>
<p>x_train shape: {{  x_train }}</p>
<p>y_train shape: {{  y_train }}</p>
<p>x_test shape: {{  x_test }}</p>
<p>y_test shape: {{  y_test }}</p>
<h3>Training set head</h3>
{% for table in x_train_head %}
            {{ table|safe }}
{% endfor %}
<h3>Testing set head</h3>
{% for table in x_test_head %}
            {{ table|safe }}
{% endfor %}

<h2>Feature Importance</h2>
<img src="data:image/png;base64, {{ feature_imp }}">

{#<h3>Prediction</h3>#}
{# <div class="container">#}
{# <div class="tableLeft">#}
{# <h3>Prediction with all feature </h3>#}
{#{% for table in pred_output %}#}
{#            {{ table|safe }}#}
{#{% endfor %}#}
{# </div>#}
{##}
{# <div class="tableRight">#}
 <h4>Prediction with all features </h4>
{% for table in pred_output_norm %}
            {{ table|safe }}
{% endfor %}
 </div>
 </div>
 <h4>Prediction with feature selection and cross-validation</h4>
{% for table in feature_selection_cv %}
            {{ table|safe }}
{% endfor %}
 </div>
 </div>


 <h2>Clasification Report </h2>
{% for table in  clasif_report %}
            {{ table|safe }}
{% endfor %}
 <img src="data:image/png;base64, {{img_report}}">


{% for table in  test_pred_ex %}
            {{ table|safe }}
{% endfor %}

<h2>Lime e xplainer</h2>
<img src="{{url_for('static',filename = 'imag_lime.png')}}">





</body>
</html>