<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diabetes Data</title>
    <link rel="stylesheet" href="{{ url_for('static' ,filename='Style.css')}}">
</head>
<body>

<h1>Diabetes Data</h1>
<h2>Data info</h2>
{% for table in tables %}
            {{ table|safe }}
{% endfor %}



<h2>Distributions</h2>
<img src = "/plot2" >


<h2>Correlation</h2>
<img src="data:image/png;base64, {{ cor_plot }}">




<h2>Sampling</h2>

<h3>Shapes of the data frame after sampling</h3>
<p>x_train shape: {{  x_train }}</p>
<p>y_train shape: {{  y_train }}</p>
<p>x_test shape: {{  x_test }}</p>
<p>y_test shape: {{  y_test }}</p>
<h3>Training set head</h3>
{% for table in x_train_head %}
            {{ table|safe }}
{% endfor %}
<h3>Testing set head</h3>
{% for table in x_test_head %}
            {{ table|safe }}
{% endfor %}


<h2>Feature Importance</h2>
<img src="data:image/png;base64, {{ feature_imp }}">

 <h4>Prediction with all features </h4>
{% for table in pred_output_norm %}
            {{ table|safe }}
{% endfor %}

 <h2>Feature engineering  </h2>
{% for table in feat_eng_data %}
            {{ table|safe }}
{% endfor %}

   <h2>Plot insulin</h2>
<img src="data:image/png;base64, {{ insulin_img }}">


  <h2>Plot BMI</h2>
<img src="data:image/png;base64, {{ BMI_img }}">

 <h2>Plot Glucose</h2>
<img src="data:image/png;base64, {{ glucose_img}}">

<h2>Head of Data with feature engineering</h2>
{% for table in  Diabet_eng_head %}
            {{ table|safe }}
{% endfor %}
 <h4>Prediction with feature engineering </h4>
{% for table in pred_feat_eng %}
            {{ table|safe }}
{% endfor %}
 <h2>Clasification Report </h2>
{% for table in  clasif_report %}
            {{ table|safe }}
{% endfor %}

<img src="data:image/png;base64, {{img_report}}">
 <h2>Plot Shap summary </h2>
<img src="data:image/png;base64, {{ shap_summary}}">
 </div>
 </div>


</body>
</html>