<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maternal Health Risk Data </title>
    <link rel="stylesheet" href="{{ url_for('static' ,filename='Style.css')}}">
</head>
<body>

<h1>Maternal Health Risk Data </h1>
<h2>Data info</h2>
{% for table in tables %}
            {{ table|safe }}
{% endfor %}

<h2>Plots based on the risk category</h2>
<img src = "/plot3" >

<h2>Corelation </h2>
<img src = "/cor3" >

<h2>Sampling</h2>

<h3>Shapes of the data frame after sampling</h3>
<p>x_train shape: {{  x_train }}</p>
<p>y_train shape: {{  y_train }}</p>
<p>x_test shape: {{  x_test }}</p>
<p>y_test shape: {{  y_test }}</p>
<h3>Training set head</h3>
{% for table in x_train_head %}
            {{ table|safe }}
{% endfor %}
<h3>Testing set head</h3>
{% for table in x_test_head %}
            {{ table|safe }}
{% endfor %}

<h2>Feature Importance</h2>
<img src = "/imp3" >

<h3>Prediction</h3>
 <div class="container">
 <div class="tableLeft">
{% for table in pred_output %}
            {{ table|safe }}
{% endfor %}
 </div>

 <div class="tableRight">
{% for table in pred_output_norm %}
            {{ table|safe }}
{% endfor %}
 </div>
 </div>

</body>
</html>